<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li class="active">
                <a href="/home/main">Pocetna</a>
            </li>
            <li >
                <a href="/forum">Forum</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown text-center">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Serveri <b class="caret"></b></a>
               <ul class="dropdown-menu">
                 <li><a href="/servers/list">Lista</a></li>
                 <li class="divider"></li>
                 <li><a href="/servers/order">Naruci</a></li>
               </ul>
            </li>
            <li class="dropdown text-center">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tiketi <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/tickets/main">Otvori</a></li>
                <li class="divider"></li>
                <li><a href="/tickets/main">Lista</a></li>
              </ul>
            </li>
            <li><a href="/admin/control">Admin</a></li>
            <li class="dropdown text-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profil <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/users/profile">Moj Profil</a></li>
                <li class="divider"></li>
                <li><a href="/users/logout">Izlguj se</a></li>
              </ul>
            </li>
        </ul>
    </div>
</nav>

<script type="text/javascript" src="/js/profile.js" ></script>
<script type="text/javascript" src="/js/servers_order.js" ></script>
<!-- <script type="text/javascript" src="/js/servers_list.js"></script> -->
