<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li class="active">
                <a href="/home/main">pocetna</a>
            </li>
            <li >
                <a href="/forum">forum</a>
            </li>
        </ul>
        <form id="login" class="navbar-form navbar-right" role="login">
            <div class="form-group">
                <input type="text" id="username" class="form-control" placeholder="username" required />
                <input type="password" id="password" class="form-control" placeholder="password" required />
            </div>
            <button type="submit" class="btn btn-primary">login</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/register">Register</a></li>
        </ul>
    </div>
</nav>

<script type="text/javascript" src="/js/login.js" ></script>
<script type="text/javascript" src="/js/register.js" ></script>
